@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';

body{
	background: #3977ad;
	font-family: 'Prompt', sans-serif;
}

main{
	padding-bottom: 20px;
}

a{
	color: #6cbd7d;
	font-size: 18px;
	outline: none;
}

@media screen and (min-width: 40em) {
	a{
		font-size: 22px;
	}
}

a:hover{
	color: #1f2531;
}

a:visited{
	color: #CD5C5C;
}

a:visited:hover{
	color: #1f2531;
}

nav{
	margin-bottom: 20px;
}

h2{
	font-family: 'Lato', sans-serif;
	margin: 0;
	color: #FFDEAD;
	font-size: 50px;
}

.aa-contact{
	background-color: #6cbd7d;
	box-sizing: border-box;
	padding: 20px 10px;
	box-shadow: 2px 4px 30px rgba(0,0,0, 0.7);
}

.aa-contact a{
	color: #FFDEAD;
}

.aa-contact a:hover{
	color: #3977ad;
}

@media screen and (max-width: 39.9375em) {
	h2{
		font-size: 30px;
	}

	.aa-contact{
		text-align: center;
	}

	.aa-contact li{
		text-align: left;
	}
}


h3{
	color: #1f2531;
	font-size: 35px;
	border-bottom: solid 3px #1f2531;
	display: inline-block;
	margin-bottom: 20px;
}
h4{
	color: #1f2531;
	border-bottom: solid 2px #1f2531;
	display: inline-block;
	font-size: 22px;
}

ul{
	list-style: none;
	margin: 0;
}



.header__up{
	background-color: #6cbd7d;
	box-shadow: 0 4px 20px rgba(0,0,0, 0.7);
	padding-top: 20px;
}

.header__down{
	padding-bottom: 20px;
}