/*FONTS*/
@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/regular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/regular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/regular/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_gothicCnRg';
    src: url('..fonts/condense/leaguegothic-condensedregular-webfont.eot');
    src: url('..fonts/condense/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/condense/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('..fonts/condense/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('..fonts/condense/leaguegothic-condensedregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/*font-family: 'Open Sans', sans-serif;*/


/*STYLES*/

*, html, body{
	margin: 0;
	padding: 0;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

h2, h3, h4, h5, h6{
	font-weight: 400;
}

/******************************************************
header
******************************************************/
header,
.about,
.author,
.brands,
.recent,
footer{
	/* max-width: 1200px; */
}

header{
	background-image: url(../img/head-bg.jpg);
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 168px;	
}

.logo__head{
	float: left;
}

.menu__head{
	float: right;
}

.menu__head ul li{
	display: inline-block;
}

.menu__head ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	font-family: 'league_gothicregular';
	text-shadow: 1px 1px 3px #000;
	margin-left: 40px;
	padding-left: 6px;
	padding-right: 1px;
}

.menu__head ul li a:hover{
	border-bottom: solid 2px #edbfff;
}

.slider{
	background: rgba(0, 0, 0, 0.2);
	margin-top: 165px;
	color: #fff;
	font-family: 'league_gothicregular';
	padding-top: 60px;
	padding-bottom: 103px;
}

.slider__content{
	float: left;
	width: 55%;
	padding-top: 18px;
	position: relative;
}

.slider__content h1{
	text-transform: capitalize;
	font-size: 60px;
	font-weight: 400;
	line-height: 60px;
	color: #fefefe;
	margin: 0;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;
}

.slider__content h2{
	text-transform: uppercase;
	color: #edbfff;
	font-size: 32px;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 5px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__content p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.arrows{
	width: 23px;
	height: 35px;
	border: none;
	background: none;
	outline: none;
	position: absolute;
	top: 50%;
}

.arrows:hover{
	opacity: 0.5;
}

.previous{
	background-image: url(../img/left-arrow.png);
	left: -10%;
}

.next{
	background-image: url(../img/right-arrow.png);
	right: -80%;
}

#dotted-head{
	position: absolute;
	bottom: -219px;
	right: -269px;
}

#dotted-head p{
	cursor: pointer;
	width: 17px;
	height: 17px;
	display: inline-block;
	background-image: url(../img/dotted-head.png);
	margin-right: 1px;
	margin-left: 2px;
}

#dotted-head p:hover{
	background-image: url(../img/dotted-head.png);
	background-position: 18px;
}

.slider__img{
	float: left;
	width: 40%;
}

.slider__img{
	position: relative;
}

.slider__img img{
	position: absolute;
	top: -77px;
	right: 26px;
}




/*
section about
*/

.about{
	background: linear-gradient(#745083,#33253a);
	border-top: solid 1px #33253a;
	padding-top: 78px;
	padding-bottom: 65px;
}

.about__column{
	float: left;
	width: 30.3333333%;
	color: #fff;
	box-sizing: border-box;
	padding-left: 19px;
	padding-right: 57px;
	margin-left: 44px;
	margin-right: 4px;
	position: relative;
}

.about__column img{
	position: absolute;
	left: -45px;
	top: -4px;
}

.about__column:last-child{
	padding-left: 72px;
	padding-right: 0px;
	margin-left: -10px;
	margin-right: 0px;
}

.about__column:last-child img{
	position: absolute;
	left: 9px;
	top: -3px;
}

.about__column h4{
	font-family: 'league_gothicregular';
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 9px;
	text-shadow: 0px 1px 0px #0f1518;
	font-weight: 400;
}

.about__column p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 15px;
}

.about__column input{
	font-family: 'league_gothicregular';
	float: right;
	border: none;
	background: none;
	color: #fff;
	text-shadow: 0 0 3px #fff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
}

.about__column input:hover{
	text-shadow: 0 0 5px #f30;
}

/*
updates
*/

.author,
.brands{
	background: #f9f9f9;
}

.author{
	padding-top: 98px;
	padding-bottom: 89px;
	border-bottom: solid 1px #eee6e6;
}

.author__slid{
	float: left;
	width: 45%;
	margin-left: 20px;
}

.author__message{
	float: left;
	width: 46%;
	margin-left: 20px;
}

.content{
	background: #fff;
	border: solid 1px #efefef;
	position: relative;
	padding: 30px 30px 35px 42px;
}

.content img{
	position: absolute;
	top: 19px;
	left: -21px;
}

.content h4{
	font-family: 'league_gothicregular';
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 9px;
	color: #454545;
}

.content h4 span{
	color: #edbfff;
}

.content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #454545;
}


/*
slide-figure
*/

#triangle-topright{
	width: 0;
	height: 0;
	border-top: 25px solid #fff; 
	border-left: 25px solid transparent;	
	position: absolute;
	bottom: -22px;
	right: 40px;	
}

#dotted{
	position: absolute;
	bottom: -48px;
	right: 169px;
}

#dotted p{
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url(../img/dotted.png);
	margin-right: -1px;
	margin-left: -1px;
}

#dotted p:hover{
	background-image: url(../img/dotted.png);
	background-position: 21px;
}

.author__message{
	padding: 33px 0px 0px 38px;
}

.author__message h4{
	font-family: 'league_gothicregular';
	font-size: 30px;
	line-height: 30px;
	color: #454545;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.message__content{
	min-height: 51px;
	margin-bottom: 15px;
}

.message__conten-img{
	float: left;
	width: 49px;
	height: 49px;
	background-image: url(../img/autor-mess.png);
	margin-right: 17px;
}

.message__conten-img.img02{
	background-position: 0 -67px;
}

.message__conten-img.img03{
	background-position: 0 -131px;
}

.message__content h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #454545;
}

.message__content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #454545;
}

.author__message input{
	font-family: 'league_gothicregular';
	font-size: 18px;
	line-height: 24px;
	color: #454545;
	float: right;
	border: none;
	background: none;
	text-transform: uppercase;
	margin-right: 12px;
}

.author__message input:hover{
	opacity: 0.6;
	text-shadow: 0 0 3px #f00;
}


/*
brands
*/

.brands{
	border-top: solid 1px #fefefe;
	border-bottom: solid 1px #fefefe;
	padding-top: 25px;
	padding-bottom: 26px;
	text-align: center;
}

.brands ul li{
	display: inline-block;
	padding-left: 32px;
	padding-right: 32px;
	vertical-align: middle;
}

.brands ul li:hover{
	opacity: 0.3;
}


/*
section recent
*/

.recent{
	position: relative;
	z-index: 5;
	background: #ececec;
	padding-top: 96px;
	padding-bottom: 91px;
}

.recent__column{
	float: left;
	width: 28%;
	margin-right: 70px;
	box-sizing: border-box;
}

.recent__column:last-child{
	margin-right: 0px;
}

.recent__column h2{
	font-family: 'league_gothicregular';
	color: #454545;
	font-size: 47px;
	font-weight: 400;
	line-height: 47px;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
}

.recent__column h2 span{
	color: #b9b9b9;
}

.recent__column h4{
	font-family: 'league_gothicregular';
	color: #454444;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	margin-bottom: 10px;
}

.recent__column address{
	font-family: Georgia;
	color: #c5c5c5;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	text-shadow: 0px 1px 0px #ffffff;
	margin-bottom: 9px;
}

.recent__column p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #787878;
	text-shadow: 0px 1px 0px #fff;
}

/*
footer
*/

footer{
	position: relative;
	min-height: 115px;
}

.footer__blur{
	background-image: url(../img/foot-bg.jpg);
	background-size: cover;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(4px);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
	overflow: hidden;
}

.shadow__block{
	position: relative;
}

.shadow__block:after{
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	height: 20px;
	bottom: 0;
	right: 1em;
	left: 1em;
	border-radius: 50%;
	box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.6);
}

.menu__footer{
	position: relative;
	z-index: 1;
	padding-top: 41px;
}

.menu__footer ul li{
	display: inline-block;
}

.menu__footer ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	font-size: 20px;
	font-weight: 400;
	font-family: 'league_gothicregular';
	margin-right: 39px;
}

.menu__footer ul li a:hover{
	text-shadow: 0 0 5px #f00;
}

.footer__blur-address{
	float: right;
	position: relative;
	z-index: 1;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #fff;
	font-style: normal;
}

.footer__blur-address span{
	font-weight: bold;
}


/****************************************************

*******************	MEDIA *****************

***************************************************/


@media screen and (max-width: 768px) {

	/* header,
	.about,
	.author,
	.brands,
	.recent,
	footer{
		max-width: 8180px;
	} */

	.container{
		max-width: 768px;
		margin: 0 auto;
	}

	/*header*/

	header{
		padding-top: 70px;
		padding-bottom: 153px;	
	}

	.logo__head{
		float: none;
		margin-bottom: 26px;
	}

	.menu__head{
		float: none;
	}

	.menu__head ul li a{
		margin-left: 0px;
		margin-right: 40px;
		padding-left: 0px;
		padding-right: 7px;
	}

	.slider{
		margin-top: 77px;
		padding-top: 60px;
		padding-bottom: 38px;
	}

	.slider__content{
		width: 51%;
		padding-top: 35px;
		padding-left: 23px;

	}

	.slider__content h1{
		font-size: 48px;
		line-height: 50px;
		margin: 0;
	}

	.slider__content h2{
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 0px;
	}

	.slider__content p{
		font-size: 16px;
		line-height: 30px;
	}

	.arrows{
		top: 39%;
	}

	.previous{
		left: -2%;
	}

	.next{
		right: -84%;
	}

	#dotted-head{
		bottom: -96px;
		right: -201px;
	}

	.slider__img img{
		top: -85px;
		right: 9px;
	}


	/* about */

	.about{
		padding-top: 78px;
		padding-bottom: 65px;
	}

	.about__column{
		width: 25%;
		padding-left: 19px;
		padding-right: 24px;
		margin-left: 44px;
		margin-right: 16px;
	}

	.about__column img{
		left: -43px;
		top: -9px;
	}

	.about__column:last-child{
		padding-left: 19px;
		padding-right: 24px;
		margin-left: 53px;
		margin-right: 0px;
	}

	.about__column:last-child img{
		left: -43px;
		top: -8px;
	}

	.about__column h4{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 4px;
	}

	.about__column p{
		margin-bottom: 3px;
	}

	/**   update ***/

	.author{
		padding-bottom: 113px;
	}

	.author__slid{
		width: 41%;
		margin-left: 22px;
	}

	.author__message{
		width: 46%;
		margin-left: 20px;
	}

	.content{
		padding: 31px 30px 41px 40px;
	}

	.content h4{
		font-size: 24px;
		line-height: 24px;
		padding-right: 120px;
	}

	/*
	slide-figure
	*/

	#triangle-topright{
		display: none;
	}

	#dotted{
		bottom: -47px;
		right: 112px;
	}

	#dotted p{
		cursor: pointer;
		width: 20px;
		height: 20px;
		display: inline-block;
		background-image: url(../img/dotted.png);
		margin-right: -1px;
		margin-left: -1px;
	}

	#dotted p:hover{
		background-image: url(../img/dotted.png);
		background-position: 21px;
	}

	/*
	end slide-figure
	*/

	.author__message{
		padding: 33px 0px 0px 38px;
	}

	.author__message input{
		margin-right: 31px;
	}

	/* brands */

	.brands ul li{
		padding-left: 26px;
		padding-right: 29px;
	}

	.brands ul li:first-child{
		padding-left: 0px;
		padding-right: 19px;
	}

	.brands ul li:last-child{
		padding-right: 0px;
		padding-left: 30px;
		margin-right: 17px;
	}


	/* recent */

	.recent{
		padding-top: 99px;
		padding-bottom: 93px;
	}

	.recent__column{
		width: 27%;
		margin-right: 58px;
	}

	.recent__column:last-child{
		margin-right: 0px;
	}

	.recent__column h2{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
	}

	.recent__column h2 span{
		color: #454545;
	}

	.recent__column h4{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
	}

	.recent__column address{
		display: none;
	}

	/* footer */

	footer{
		min-height: 200px;
	}

	.footer__blur-address{
		float: right;
		margin-top: 100px;
		margin-right: 41px;		
	}

}




/*************************************
480
*************************************/

@media screen and (max-width: 480px) {
	
	header,
	.about,
	.author,
	.brands,
	.recent,
	footer{
		/* max-width: 480px; */
		/* box-sizing: border-box; */
	}

	.container{
		width: 440px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	/* header */

	header{
		padding-top: 70px;
		padding-bottom: 98px;
		text-align: center;	
	}

	.logo__head{
		float: none;

	}

	.menu__head{
		float: none;
		position: relative;
	}

	.menu__head ul{
		position: absolute;
		border: solid 1px #000;
		border-radius: 10px;
		width: 245px;
		left: 22%;
		top: -8px;
		overflow: hidden;
		z-index: 3;
	}

	.menu__head ul li{
		display: block;
		width: 100%;
		background: rgba(54, 41, 62, 0.9);
		border-bottom: solid 1px #523f5a;
	}

	.menu__head ul li a{
		display: inline-block;
		font-size: 24px;
		line-height: 33px;
		margin-right: 0px;
		padding-right: 0px;
		margin-bottom: 2px;
		margin-top: 6px;
	}

	.menu__head ul li a:hover{
		border-bottom: none;
		/* margin-bottom: 2px; */
	}

	.menu__head ul li:hover{
		border-bottom: solid 2px #edbfff;
		background: rgba(36, 29, 40, 0.9);
		/* margin-bottom: 2px; */
	}

	.menu__head ul li:hover .active{
		border-bottom: none;
	}



	.menu__head .active{
		border-bottom: solid 2px #edbfff;
	}

	.slider{
		margin-top: 91px;
		padding-top: 74px;
		padding-bottom: 64px;
	}

	.slider__content{
		text-align: left;
		width: 50%;
		padding-top: 18px;
		padding-left: 19px;
	}

	.slider__content h1{
		font-size: 36px;
		line-height: 36px;
		margin: 0;
	}

	.slider__content h2{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 5px;
	}

	.slider__content p{
		display: none;
	}

	.arrows{
		width: 23px;
		height: 35px;
		top: 26%;
	}

	.previous{
		left: -4%;
		background-image: url(../img/left-arrow.png);
	}

	.next{
		right: -89%;
		background-image: url(../img/right-arrow.png);
	}

	#dotted-head{
		bottom: -107px;
		right: -27px;
	}

	.slider__img img{
		width: 106%;
		top: -84px;
		right: -10px;
	}

	/* about */

	.about{
		padding-top: 78px;
		padding-bottom: 46px;
	}

	.about__column{
		width: 94%;
		padding-left: 28px;
		padding-right: 16px;
		margin-left: 36px;
		margin-right: 0px;
		margin-bottom: 22px;
		box-sizing: border-box;
	}

	.about__column img{
		left: -35px;
		top: -9px;
	}

	.about__column:last-child{
		padding-left: 28px;
		padding-right: 16px;
		margin-left: 36px;
		margin-right: 0px;
		margin-top: 4px;
	}

	.about__column:last-child img{
		left: -35px;
		top: -9px;
	}

	.about__column h4{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 4px;
	}

	.about__column p{
		margin-bottom: 11px;
	}

	/**   update ***/

	.author{
		padding-top: 69px;
		padding-bottom: 85px;
	}

	.author__slid{
		width: 95%;
		margin-left: 22px;
		margin-bottom: 55px;
	}

	.author__message{
		width: 46%;
		margin-left: 20px;
	}

	.content{
		padding: 30px 30px 32px 40px;
	}

	.content img {
	    position: absolute;
	    top: 18px;
	    left: -23px;
	}

	.content h4{
		font-size: 30px;
		line-height: 24px;
		padding-right: 0px;
		margin-bottom: 18px;
	}

	/*
	slide-figure
	*/

	#dotted{
		bottom: -47px;
		right: 169px;
	}

	/*
	end slide-figure
	*/

	.author__message{
		padding: 33px 0px 0px 43px;
		width: 85%;
	}

	.author__message input{
		margin-right: 41px;
		margin-top: 2px;
	}

	/* brands */

	.brands{
		padding-top: 35px;
    	padding-bottom: 15px;
	}

	.brands ul li{
		padding-left: 25px;
		padding-right: 25px;
		margin-bottom: 22px;
	}

	.brands ul li:first-child{
		padding-left: 30px;
		padding-right: 25px;
	}

	.brands ul li:last-child{
		padding-right: 0px;
		padding-left: 30px;
		margin-right: 24px;
	}


	/* recent */

	.recent{
		padding-top: 80px;
		padding-bottom: 28px;
	}

	.recent__column{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 57px;
	}

	.recent__column:last-child{
		margin-right: 0px;
	}

	

	/* footer */

	footer{
		min-height: 200px;
		position: relative;
	}

	.menu__footer ul li a{
		margin-left: 10px;
		margin-right: 9px;
	}

	.menu__footer ul li:first-child a{
		margin-left: 0px;
	}

	.menu__footer ul li:lsst-child a{
		margin-right: 0px;
	}

	.menu__footer ul{
		text-align: center;
	}

	.menu__footer{
	}

	.footer__blur-address{
		float: none;
		position: absolute;
		top: 0px;
		right: 122px;		
	}


}

/*************************************
320
*************************************/

@media screen and (max-width: 320px) {
	
	.container{
		width: 280px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	header{
		padding-bottom: 93px;
	}

	.logo__head {
	    margin-bottom: 21px;
	}

	.menu__head{
		display: block;
		float: none;
		position: relative;
		text-align: center;
		height: 100%;
	}

	.menu__head ul{
		border: none;
		border-radius: 0px;
		width: auto;
		overflow: auto;
		position: relative;
		top: 0px;
		left: 0px;
	}

	.menu__head ul li{
		display: none;
	}

	.menu__head ul li:first-child{
		display: block;
		width: auto;
		background: none;
		border-bottom: none;
	}

	.menu__head ul li a{
		display: inline-block;
		font-size: 24px;
		line-height: 33px;
		margin-right: 0px;
		padding-right: 0px;
		margin-bottom: 2px;
		margin-top: 6px;
		border-radius: 0px;
	}

	.menu__head ul li a:hover{
		border-bottom: none;
		border-radius: 0px;
		/* margin-bottom: 2px; */
	}

	.menu__head ul li:hover{
		border-bottom: none;
		background: none;
		/* margin-bottom: 2px; */
	}

	/* .menu__head ul li:hover .active{
		border-bottom: ;
	} */

	.menu__head .active{
		border-bottom: solid 2px #edbfff;
	}

	/*slide head*/

	.slider{
		margin-top: 30px;
		padding-top: 74px;
		padding-bottom: 64px;
		background: none;
	}

	.slider__content{
		text-align: left;
		width: 85%;
		padding-top: 14px;
		padding-left: 45px;
	}

	.slider__content h1{
		font-size: 36px;
		line-height: 36px;
		margin: 0;
	}

	.slider__content h2{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 5px;
	}

	.slider__content p{
		display: none;
	}

	.arrows{
		width: 23px;
		height: 35px;
		top: 34%;
	}

	.previous{
		left: -7%;
		background-image: url(../img/left-arrow.png);
	}

	.next{
		right: -6%;
		background-image: url(../img/right-arrow.png);
	}

	#dotted-head{
		bottom: -92px;
		right: 95px;
	}

	.slider__img{
		display: none;
	}


	/* about */

	.about{
	    padding-top: 69px;
	    padding-bottom: 41px;
	}

	.about__column{
		padding-right: 25px;
	}

	.about__column:last-child{
		margin-top: 16px;
		padding-right: 25px;
	}

	.hidden-content{
		display: none;
	}


	/* author */

	.author__slid{
    	width: 93%;
	}

	.content{
	    padding: 24px 30px 27px 36px;
	}

	.content h4{
		padding-right: 0px;
		width: 50%;
		font-size: 24px;
    	line-height: 25px;
    	margin-bottom: 4px;
	}

	#dotted{
	    bottom: -46px;
	    right: 75px;
	}

	.author__message{
	    padding: 33px 0px 0px 0px;
	    width: 101%;
	    margin-left: 0px;
	}

	.message__content{
		margin-bottom: 16px;
	}

	.message__content h5{
		letter-spacing: 0.8px;
	}

	.author__message input{
	    margin-right: 13px;
	    margin-top: -3px;
	}


	/* brands*/

	.brands{
		padding-top: 50px;
    	padding-bottom: 15px;
	}

	.brands ul li{
		margin-bottom: 57px;
	}

	.brands ul li:last-child{
		padding-right: 0px;
		padding-left: 25px;
		margin-right: 18px;
		margin-top: -17px;
	}


	/* recent */

	.recent,
	.menu__footer{
		display: none;
	}


	.footer__blur-address {
	    float: none;
	    position: absolute;
	    top: -60px;
	    right: 44px;
	}



}