*{
	outline: none;
}

.slider-item{
	height: 100vh;
	margin: 0 auto;
}

@media screen and (max-width: 40em) {
	.slider-item{
		height: 200vh;
	}
}

.slider-item--about{
	background: lightgreen;
}

.slider-item--team{
	background: orange;
}

.slider-item--gallery{
	background: lightblue;
}

.slider-item--contact{
	background: lightyellow;
}

.main-row{
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-pos-a{
	position: relative;
}

.rotate_title{
	top: 50px;
	right: 0;
	position: absolute;
	transform: rotate(90deg);
}

/*SLIDER*/
.slick-dots{
	margin: 0;
	position: absolute;
	bottom: 20px;
	left: 10px;
	list-style: none;
}

.slick-dots li button{
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: solid 1px black;
}

.slick-dots .slick-active button{
	border: solid 4px black;
}
/*SLIDER*/

/* SOCIAL */
.social-menu{
	margin: 0;
}

.social-item{
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.social-link{
	display: inline-block;
	width: 35px;
	line-height: 35px;
	border: solid 1px black;
	border-radius: 9px;
}

.social-link .fa{
	font-size: 22px;
}
/* SOCIAL */