body{
	background: grey;
}

.wrapper{
	width: 50%;
	display: block;
	margin: 0 auto;
	background: #fff;
	padding: 20px 30px 40px 30px;
}

.form__send{
	display: block;
	margin: 0 auto;
	background: yellow;
	border: 1px solid black;
	padding: 5px 15px;
}

.form__send:hover{
	opacity: 0.7;
}

