@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'lucida_sans_unicoderegular';
}

.wrapper{
	width: 910px;
	margin: 0 auto;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}


/***************************************************************
header
****************************************************************/

header{
	padding-top: 15px;
	margin-bottom: 10px;
}

.header-form{
	margin-bottom: 10px;
	vertical-align: top;
	position: relative;
}

.phone, form, .social{
	display: inline-block;
}

.phone{
	font-size: 17px;
	color: #5e696d;
	padding-left: 6px;
	padding-right: 13px;
	font-weight: bold;
	position: relative;
	top: 5px;
}

.phone img{
	vertical-align: middle;
	margin-right: 4px;
}

.header-form form{
	background: linear-gradient(#1f6685, #0d365a);
	padding: 3px 8px 4px 7px;
	border-radius: 2px;
	font-size: 11px;
}

.header-form form input[type="submit"]{
	background: rgba(255, 255, 255, 0);
	border: none;
	color: #fff;
}

form img{
	vertical-align: middle;
}

.header-form form input[type="submit"]:hover{
	color: #3c6;
}

.header-form form span{
	color: #fff;
}

.header-form form input[type="text"],
.header-form form input[type="password"]{
	width: 113px;
	border: none;
	margin-right: 5px;
	padding-left: 4px;
	box-sizing: border-box;
	font-size: 11px;
}

.header-form form input[name="enter"],
.header-form form input[name="registr"]{
	font-size: 10.9px;
}

.header-form form a{
	color: #bfbfbf;
	font-size: 12px;
	margin-left: 17px;
}

.header-form form a:hover{
	color: #3c6;
}

.social{
	border: solid 1px #bdc4c7;
	border-radius: 14px;
	padding: 2px 5px 6px 10px;
	margin-left: 12px;
	/*box-sizing: border-box;
	height: 22px;*/
	vertical-align: middle;
}

.social img{
	float: left;
	margin-right: 7px;
	cursor: pointer;
}


/*
navbar
*/

header nav{
	background: linear-gradient(#2d3236, #010101);
	color: #8a9296;
	padding: 3px 8px 3px 131px;
	font-size: 11px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
	border: #0d1642 solid 1px;
	box-sizing: border-box;
	border-radius: 3px;
}

header nav a{
	color: #b1bcc0;
	text-decoration: none;
	font-size: 13.5px;
	text-transform: uppercase;
	padding: 3px 15px 1px 15px;
	display: inline-block;
}

header nav a:hover, .active{
	color: #fff;
	background: linear-gradient(#1f6787, #0c3357);
	border-radius: 13px;
}

header nav li,
header nav div,
header nav ul{
	display: inline-block;
}

header nav ul{
	margin-right: 40px;
}

.total img{
	margin-right: 7px;
	vertical-align: middle;
}

.total{
	margin-right: 15px;
}

.total,
.sum{
	font-family: arial;
	font-size: 11px;
}

.total span,
.sum span{
	color: #0d5a8f;
	font-size: 12px;
}

.sum span{
	margin-left: 10px;
}


/**********************************************************
block forms
*************************************************************/

.search{
	margin-bottom: 13px;
	font-family: Arial, sans-serif;
	font-size: 10px;
	line-height: 8px;
}

.form-div:last-child{
	margin-right: 0px;
	margin-left: 0px;
}

.search span{
	color: #77858b;
	font-size: 9px;
}

.search h3{
	color: #154467;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 4px;
}

.form-div{
	border: 1px solid #b3b3b4;
	border-radius: 15px;
	font-size: 10px;
	box-shadow: 5px 5px 5px #686868;
	margin-left: 3px;
	margin-right: 13px;
	float: left;
	min-height: 135px;
	vertical-align: middle;
}

table{
	border-spacing: 0 5px;
}

td{
	height: 17px;	
}

.button-form{
	text-align: right;
	position: relative;
}

.button-form button{
	font-style: italic;
	text-transform: lowercase;
	text-decoration: underline;
	line-height: 14px;
	font-size: 14px;
	border: none;
	background: none;
	color: #154467;
	margin-right: 10px;
	cursor: pointer;
	position: absolute;
}

.button-form button:hover{
	color: red;
}

select{
	border: none;
	height: 17px;
	font-size: 11px;
	box-shadow: inset 1px 1px 1px 0px rgba(150,150,150,0.75);
	outline: none;
}




/**************************
left
**************************/

	.auto span{
		font-size: 8px;
		color: #77858b;
	}

	.left-tabl, .right-tabl{
		display: inline-block;
		width: 48%;
	}

	.long-select{
		width: 100px;
	}

	.short-select{
		width: 57px;
	}

	.auto h3{
		width: 100%;
		text-align: center;
	}

	.auto h3:before{
		position: relative;
		content: "Диски:";
		right: 18%;
		font-size: 10px;
	}

	.auto h3:after{
		content: "Шины:";
		position: relative;
		left: 20%;
		font-size: 10px;
	}

	.left-tabl, .right-tabl{
		width: 177px;
		padding: 2px 13px;
	}

	.left-tabl{
		padding-left: 15px;
	}

	.button-form-auto{
		bottom: -14px;
		right: 5px;
	}


/**************************
center
**************************/

.bus, .rims{
	margin-left: 6px;
}

.bus-long-select{
	width: 50px;
}

.bus-short-select{
	width: 45px;
}

.bus-form-cell table{
	border-spacing: 5px 7px;
}

.bus-form-long-cell{
	width: 120px;
}

.bus-r{
	text-align: right;
	font-size: 11px;
}

.bus-checkbox{
	vertical-align: top;
}

.bus-form-cell{
	padding: 2px 5px;
}

.bus-form-long-cell span{
	font-size: 14px;
}

.button-form-bus{
	bottom: -5px;
	right: 5px;
}


/**************************
right
**************************/

.rims-right, .rims-left{
	float: left;
	padding: 0;
	margin-top: 3px;
}

.rims-left td{
	padding-right: 9px;
}

.rims-left table{
	border-spacing: 7px 7px;
}

.rims-right{
	border-left: solid 1px #bdc6ca;
}

.rims-right label{
	display: inline-block;
	margin-top: 3px;
	padding-left: 7px;
	padding-right: 13px;
	margin-bottom: 9px;
}

.rims-right label select{
	margin-top: 3px;
}

.rims-right .button-form button{
	float: right;
}

.button-form-rims{
	bottom: -8px;
	right: 3px;
}


/***********************************************************
product-catalog
************************************************************/

section{
	vertical-align: baseline;
	margin-bottom: 35px;
	box-sizing: border-box;
	padding-top: 3px;
}

.product-catalog,
.product-brands{
	float: left;
	width: 20%;
}

.product-catalog-list ul li{
	list-style-type: circle;
	list-style-position: inside;
	color: #465961;
	font-size: 13px;
	margin-left: 35px;
	margin-bottom: 5px;
	width: 100%;
	text-transform: capitalize;
}

.product-catalog-list ul li:last-child{
	margin-bottom: 0;
}

.product-catalog-list a{
	text-decoration: none;
	color: #465961;
	font-size: 12.7px;	
	margin-left: -5px;
}

.product-catalog-list ul li:hover{
	text-decoration: underline;
	font-size: 14px;
	font-style: italic;
	color: #0c3256; 
}

.product-view{
	width: 58%;
	display: inline-block;
	background: linear-gradient(#e5e7e8, #93a7b0);
	padding: 2px 1px 14px 6px;
	box-sizing: border-box;
	height: 630px;
	float: left;
	margin-left: 8px;
}

figure{
	display: inline-block;
	min-width: 137px;
}

.viev-unit{
	text-align: center;
	padding: 13px 14px;
}

.viev-unit div{
	width: 137px;
	background: #fff;
	border-radius: 6px;
	border: 1px solid #a4aeb1;
	box-sizing: border-box;
}

.viev-unit h4{
	font-size: 14.6px;
	line-height: 14.6px;
	color: #206988;
}

.viev-unit p{
	font-size: 12.7px;
	line-height: 12.7px;
}

.viev-unit figcaption{
	font-size: 16px;
	color: #114165;
	line-height: 16px;
	margin-top: 5px;
	font-style: italic;
	font-weight: bold;
}

.product-catalog-brands h2,
.product-catalog-list h2,
.product-catalog-list img,
.header-product-brands h2,
.header-product-brands img,
.header-product-catalog h2,
.header-product-catalog img{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #0c3256;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	margin-right: 3px;
}

.product-catalog-brands form img{
	margin-right: 3px;
}

.header-product-catalog,
.header-product-brands,
.product-catalog-brands div,
.product-catalog-list div{
	border: solid 1px #79878d;
	border-radius: 12px;
	padding-bottom: 2px;
	padding-left: 2px;
}

.header-product-catalog,
.header-product-brands{
	box-shadow: 2px 2px 2px #cbcbcb;
}

.product-catalog-list{
	width: 150px;
	margin-left: 2px;
	margin-top: 12px;
}

.product-brands{
	margin-left: 10px;
}

.header-product-brands{
	padding-left: 2px;
	padding-top: 0;
	margin-bottom: 4px;
}

.product-catalog-brands{
	margin-left: 15px;	
}

.product-catalog-brands label{
	position: relative;
	font-size: 12.7px;
}

.product-catalog-brands form{
	width: 135px;
}

.product-catalog-brands form input[type="checkbox"]{
	margin-right: 13px;
	opacity: 0;
}

.check{
	width: 9px;
	height: 9px;
	border: solid 1px #314b5e;
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 5px;
}

.product-catalog-brands div{
	padding-left: 2px;
	margin-top: 10px;
}

input[name="catalog-brands-button"]{
	border: none;
	background: linear-gradient(#1f6787, #0c3357);
	color: #fff;
	padding: 3px 12px 4px;
	border-radius: 12px;
	text-transform: uppercase;
	font-size: 11px;
	margin-top: 15px;
	margin-left: 10px;
	letter-spacing: 0.5px;
	box-shadow: 1px 3px 1px #d8d8d8;
}


/*
partners brand
*/

.partners-brand{
	text-align: center;
	margin-bottom: 20px;
}

.partners-brand ul li{
	display: inline-block;
}

.partners-brand ul li a{
	display: inline-block;
	min-height: 30px;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 2px;
}

.partners-brand ul li a:hover{
	box-shadow: 0 0 3px rgba(0, 55, 5, 0.4);
}


/**********************************************************
footer
***********************************************************/

footer{
	background: #213a4d;
	text-align: center;
	padding: 0 0 50px;
}

footer ul{
	margin-bottom: 9px;
}

footer ul li{
	display: inline-block;
}

footer ul li a{
	text-decoration: none;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: .2px;
	color: #bec6c9;
	border-right: solid 2px #7f8e97;
	display: inline-block;
	padding-left: 6px;
	padding-right: 10px;
}

footer ul li a:hover{
	color: #52abcb;
}

footer ul li:last-child a{
	border-right: none;
}

footer ul li a:first-letter{
	text-transform: uppercase;
}

.copy{
	color: #7f4740;
	font-size: 10px;
}