/*FONTS*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/regular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/regular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/regular/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_gothicCnRg';
    src: url('..fonts/condense/leaguegothic-condensedregular-webfont.eot');
    src: url('..fonts/condense/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/condense/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('..fonts/condense/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('..fonts/condense/leaguegothic-condensedregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/*font-family: 'Open Sans', sans-serif;*/




/* GENERAL STYLES*/

*, html, body{
	margin: 0;
	padding: 0;
	font-size: 0px; 
}

.container{
	max-width: 990px;
	margin: 0 auto;
}

.fl-rg{
	float: right;
}

.va-m{
	vertical-align: middle;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 400;
}


/* specific styles */

	/*	HEADER 	*/

header{
	background-image: url(../img/head-bg.jpg);
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 168px;
}

	/*	HEADER--logo	*/

.logo{
	display: inline-block;
}

	/*	HEADER--menu	*/

.menu{
	display: inline-block;
}

.menu__item{
	display: inline-block;
}

a.menu__link{
	font-family: 'league_gothicregular';
	font-size: 24px;
	line-height: 33.7px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 7px;
	padding-right: 2px;
	margin-left: 43px;
}

a.menu__link:hover{
	border-bottom: 2px solid #edbfff;
}

a.menu__link--active{
	border-bottom: 2px solid #edbfff;
}

	/*	HEADER--slider	*/

.slider{
	background: rgba(0, 0, 0, 0.2);
	margin-top: 165px;
	color: #fff;
	font-family: 'league_gothicregular';
	padding-top: 90px;
	padding-bottom: 72px;
}

.slider__item{
	outline: none;
	position: relative;
}

.slider__content{
	position: relative;
}

.slider__arrows{
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 23px;
	height: 35px;
	border: none;
	background: none;
	outline: none;
}

.slider__arrows:hover{
	opacity: 0.5;
}

.arrows__previous{
	background-image: url(../img/left-arrow.png);
	left: -10%;
}

.arrows__next{
	background-image: url(../img/right-arrow.png);
	right: -10%;
}

.dotted__list{
	position: absolute;
	bottom: -133%;
	right: 16%;
}

.dotted__item{
	display: inline-block;
	width: 17px;
	height: 17px;
	background: none;
	background-image: url(../img/dotted-head.png);
	margin-right: 3px;
	margin-left: 2px;
	border: none;
	outline: none;
}

.dotted__item:hover{
	background-image: url(../img/dotted-head.png);
	background-position: 18px;
}

.slider__h1{
	text-transform: capitalize;
	line-height: 36px;
	font-size: 60px;
	margin: 0;
	margin-bottom: 10px;
	letter-spacing: -0.5px;
}

.slider__h2{	
	text-transform: uppercase;
	font-size: 32px;
	line-height: 36px;
	color: #edbfff;
	margin: 0;
	margin-bottom: 3px;
}

.slider__text{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
}

.slider__content{
	
}

.slider__img{
	position: relative;
}

.sl-item_img{
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.slider__hover{
	display: none;
	position: absolute;	
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	box-sizing: border-box;
	background-image: url(../img/Shape.png);
	z-index: 2;
	top: 0;
}

.slider__img:hover .slider__hover{
	display: block;
}



/*about block*/

.about__block{
	background: linear-gradient(#745083,#33253a);
	padding-top: 79px;
	padding-bottom: 67px;
	color: #fff;
}

.about__img-tools{
	width: 29px;
	height: 29px;
	position: absolute;
	left: -40px;
	top: 0px;
}

.about__img-tools--img01{
	background-image: url(../img/tools.png);
}

.about__img-tools--img02{
	background-image: url(../img/tools.png);
	background-position: -32px 0px;
}

.about__img-tools--img03{
	background-image: url(../img/tools.png);
	background-position: -62px 0px;
}

.about__h4{
	margin: 0;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'league_gothicregular';
	margin-bottom: 10px;
}

.about__text{
	font-size: 16px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 17px;
}

.about__button{
	float: right;
	border: none;
	background: none;
	color: #fff;
	text-shadow: 0 0 3px #fff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	font-family: 'league_gothicregular';
}

.about__button:hover{
	text-shadow: 0 0 5px #f30;
}

/* 		recent 		*/

.recent__block{
	background: #f9f9f9;
	padding-top: 100px;
	padding-bottom: 90px;
}

.rec-block__note{
	background: #fff;
	padding: 30px 35px 40px 35px;
	position: relative;
}

.note-block__text{
	font-size: 14px;
}

.note-block__pic{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url(../img/author.png);
	position: absolute;
	top: 8%;
	left: -5%;
}

.note-block__angle{
	display: inline-block;
	border: solid 10px red;
	border-left: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	bottom: -7%;
	right: 9%;
}

.note-block__rubric{
	font-family: 'league_gothicregular';
	text-transform: uppercase;
	color: #454545;
	font-size: 30px;
	line-height: 24px;
	text-shadow: 0px 1px 0px #ffffff;
}

.note-block__rubric--pink{
	/* font-size: 25px; */
	color: #edbfff;
}


.update-block__message{
	margin-bottom: 13px;
}

.update-block__head{
	font-family: 'league_gothicregular';
	color: #454545;
	font-size: 30px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	text-transform: uppercase;
}

.update-block__pic{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-image: url(../img/autor-mess.png);
	float: left;
}

.update-block__rubric{
	font-family: 'Open Sans', sans-serif;
	color: #454545;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
}

.update-block__text{
	font-family: 'Open Sans', sans-serif;
	color: #454545;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
}

.update__button{
	font-family: 'league_gothicregular';
	color: #454545;
	font-size: 18px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	border: none;
	background: none;
	text-transform: uppercase;
	float: right;
}


/* 		promotio 		*/

.promo__block{
	background: #f9f9f9;
	padding-top: 50px;
	padding-bottom: 50px;
}

.promotion__list{
	text-align: center;
}

.promotion__ite{
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
}

/*  	news 	  	*/

.news-block__header{
	font-family: 'league_gothicregular';
	color: #454545;
	font-size: 48px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 33.724px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	text-transform: uppercase;
}

.news-block__header--gray{
	color: #b9b9b9;
	font-size: 48px;
}

.news-block__copyright{
	font-family: Georgia;
	color: #c5c5c5;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
}

.news-block__rubric{
	font-family: 'league_gothicregular';
	color: #454444;
	font-size: 30px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	text-transform: uppercase;
}

.news-block__text{
	font-family: 'Open Sans', sans-serif;
	color: #787878;
	font-size: 16px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
}


/*	footer 	*/

footer{
	padding-top: 20px;
	padding-bottom: 20px;
}

a.menu__link--footer{
	font-family: 'league_gothicregular';
	font-size: 20px;
	line-height: 33.7px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px;
	margin-left: 0px;
	margin-right: 43px;
}

a.menu__link--footer:hover{
	border-bottom: none;
	color: #f00;
}

.footer__info{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.footer__info span{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
