*{
	margin: 0;
	padding: 0;
}

body{
	background: url(img/background.jpg);
	background-size: cover;
}

section{
	width: 1000px;
	background: #fff;
	margin: 37px auto 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

a:first-letter{
		text-transform: uppercase;
}

.clearfix:after{
	clear: both;
	display: table;
	content: " ";
}


			/*header*/


header{
	padding: 11px 31px 0 27px;
	height: 164px;
}

	.header-logo{
		display: inline-block;
	}

	.header-right{
		display: inline-block;
		width: 40%;
		text-align: right;
		float: right;
	}

		address{
			color: #128aa7;
			margin-bottom: 35px;
			text-align: left;
			padding-left: 235px;
			font-size: 14px;
			font-style: normal;
		}

	.header-countries li{
		display: inline-block;
		min-width: 52px;
		text-align: center;
	}

	.header-countries a{
		color: #128aa7;
		font-size: 10px;
	} 

	.header-countries a:hover{
		color: #a72b12;
	}

		.countries{
			width: 42px;
			height: 42px;
			margin: 0 auto;
		}

		.header-countries p{
			text-transform: capitalize;
		}

		.india{background-image: url(img/contries-flag.png);}

		.nepal{
			background-image: url(img/contries-flag.png);
			background-position: -58px;
		}

		.tibet{
			background-image: url(img/contries-flag.png);
			background-position: -114px;
		}

		.butan{
			background-image: url(img/contries-flag.png);
			background-position: -169px;
		}

		.lanka{
			background-image: url(img/contries-flag.png);
			background-position: -225px;
		}

		.maldi{
			background-image: url(img/contries-flag.png);
			background-position: -282px;
		}


			/*header-banner*/


.header-banner{
	width: 100%;
	min-height: 235px;
	background-image: url(img/central-banner.jpg);
	border-bottom: 1px solid #128aa7;
	margin-bottom: 1px;
}


			/*nav*/


nav{
	background: #333;
	text-align: center;
	border-bottom: 1px solid #000;
}

nav ul li{
	display: inline-block;
}

	nav a{
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		padding: 8px 57px 8px 10px;
	}

	nav a:hover{
		color: #f30;
	}

	nav ul li:last-child a{
		padding-right: 10px;
	}


.dropdown{
	position: relative;
}

.dropdown:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-top: 5px solid #fff;
	top: 14px;
	right: 50px;
}

.dropdown:hover:after{
	border-top: 5px solid #f30;
}

.dropdown:hover #hover-a,
.dropdown:hover #hover-s,
.dropdown:hover #hover-p{
	color: #f30;
}

.col{
	background: #333;
	text-align: left;
	position: absolute;
	display: none;
}

.col li{
	width: 100%;
}

.col a{
	padding: 5px 5px 5px 10px;
	width: 100%;
}

.travel:hover .travel-col,
.services:hover .services-col,
.partner:hover .partner-col{
	display: block;
}


			/*main*/


.main{
	text-align: center;
	overflow: hidden;
}

.main h3,
.main p{
	margin-bottom: 6px;
}

	.main-left{
		float: left;
	}

	.main-right{
		float: right;
	}

	.main-left, .main-right{
		letter-spacing: -0.3px;
		background: #edeef0;
		padding: 5px 20px 10px 15px;
		height: 100%;
		padding-bottom: 20000px;
		margin-bottom: -20000px;
	}


			/*copyright*/


.copyright{
	margin: 0 auto 10px;
	width: 300px;
	color: #fff;
	font-size: 13px;
	text-align: center;
}