@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	font-family: 'Open Sans', sans-serif;
	font-size: 13.3px;
	color: #2c2c2c;
	margin: 0;
	padding: 0;
}

body{
	background: #f9f9f9;
	min-width: 1030px;
}

a{
	text-decoration: none;
}

section{
	max-width: 1060px;
	background: #fff;
	margin: 0 auto;
	padding: 50px 50px 60px 45px;
	box-sizing: border-box;
}

.header-nav{
	background: #484747;
	margin-top: 35px;
	margin-bottom: 40px;
}

.header-nav li{
	display: inline-block;
}

.header-nav li a{
	display: inline-block;
	color: #fff;
	padding: 11px 45px;
}

.header-nav li a:hover{
	background: #3f3f3f;
	border-right: solid 1px #838383;
	border-left: solid 1px #838383;
}

.frame{
	margin-bottom: 60px;
}

.frame:after{
	display: block;
	clear: both;
	content: "";
}

.frame-nav{
	list-style-type: none;
	border: solid 1px #c8c8c8;
	display: inline-block;
	min-width: 240px;
	box-sizing: border-box;
	float: left;
}

.frame-nav li a{
	display: inline-block;
	width: 100%;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
	border-bottom: solid 1px #c8c8c8;
	color: #656363;
}

.frame-nav li a:hover{
	background: #f9f9f9;
	color: #2c2c2c;
	padding-left: 35px;
}

.frame-content{
	display: inline-block;
	max-width: 675px;
	float: right;
}

.content-img{
	border: solid 1px #c8c8c8;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.content-description{
	padding-left: 20px;
	line-height: 21.3px;
}


.footer-nav{
	background: #e1e1e1;
}

.active{
	text-decoration: underline;
}

.footer-nav p{
	float: right;
	padding: 10px 25px;
}

.footer-nav li{
	display: inline-block;
}

.footer-nav li a{
	display: inline-block;
	padding: 10px 45px;
}

.footer-nav li a:hover{
	background: #a5d5d0;
}

#start-link{
	padding: 10px 40px 10px 25px;
}

.footer-nav li a:hover{
	// background: #3f3f3f;
	// border-right: solid 1px #838383;
	// border-left: solid 1px #838383;
}